.profile-image {
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding-top: 25px;
  img {
    border-radius: 100%;
    width: 40%;
  }
}



.profile-options {
  img {
      width:50%;
  }
  .col{
    container-type: inline-size; /*Para que el navegador sepa el ancho de las columnas y lo puedan  utilizar sus hijos*/
    padding:2px;
  }
  button {
      padding: 3px;
      font-size: 18cqw; /*Container Query Width: midel el 18% del ancho del padre contenedor*/
  }
}

.mycard-corrections{
  min-width:160px;
  height: 100%;
}

.card-body {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  padding:10px;
  container-type: inline-size;
  h2 {
  padding:0px;
  font-size: 8cqw;
  }
}
