<div class="card mycard-corrections">
  <div class="profile-image">
    <img [src]="user.image" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <div class="container text-center">
    <div class="row row-cols-3 profile-options">
      <div class="col">
        <img src="icons/search_wght200.svg" alt="">
        <button type="button" class="btn" [routerLink]="['/user', 1]">Ver Detalle</button>
      </div>
      <div class="col">
        <img src="icons/update_wght200.svg" alt="">
        <button type="button" class="btn" [routerLink]="['/user', 1]">Actualizar</button>
      </div>
      <div class="col">
        <img src="icons/delete_wght200.svg" alt="">
        <button type="button" class="btn" [routerLink]="['/user', 1]">Borrar</button>
      </div>
    </div>
    </div>
  </div>
</div>
