:host {
  display: flex;
  flex-direction:column;
  justify-content:center;
  form {
      display: flex;
      flex-direction:column;
      justify-content:center;
      gap: 2px;
      padding: 10px 20px 0px 20px;
      label {
        padding-top: 20px;
      }
      button {
        margin-top: 50px;
        width: 150px;
      }
      span{
        color: rgb(255, 102, 102);
      }
  }
}



