:host{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex:1;
}

section {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex:1;
  width:100%;
  .col {
    padding-bottom:20px;
  }
}

.container-fluid {
  padding:0px;
}


/* Footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  padding-bottom: 20px;
  .page-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius:100%;
    border-color:black;
    border-style: solid;
    border-width: 1px;
    padding:20p;
  }

  .page-interline{
    width:100px;
    border-color:rgb(189, 189, 189);
    border-style: solid;
    border-width: 1px;
  }
}
