<section>
  <app-delete-user-popup [user_id]="caption_user._id" [user_name]="caption_user.first_name"/>
  <div class="container-fluid text-center">
    <div class="row row-cols-5">
        @for(user of pages[current_page()]; track user.id ){
        <div class="col">
          <app-caption [user]="user" (delete)="deleteUserPopup($event)"></app-caption>
        </div>
        }
    </div>
  </div>

  <div id="home-page-changer"></div>
<router-outlet></router-outlet>
</section>

<footer>
  @for(page of pages; track $index){
    @if ($first) {
      <button class="page-circle" (click)="changeCurrentPage($index)">{{$index+1}}</button>
      <div class="page-interline"></div>
    }
    @if ($last) {
      <div class="page-interline"></div>
      <button class="page-circle" (click)="changeCurrentPage($index)">{{$index+1}}</button>
    }
  }
</footer>


