/* 1. Estilos generales del componente */
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 2. Estilos del formulario (anidados si usas SCSS o Angular moderno) */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 10px 20px 0px 20px;

  label {
    padding-top: 20px;
  }

  button {
    margin-top: 50px;
    width: 150px;
  }

  input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(194, 194, 194);
    outline: none; /* Evita el borde azul por defecto para ver mejor tu rojo */
  }

  span {
    color: rgb(255, 102, 102);
  }
}

/* 3. La regla que no te funcionaba (fuera de cualquier llave) */
input.ng-invalid.ng-touched {
  border-bottom: 3px solid tomato;
}




